.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-stack {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 1rem auto;
  perspective: 1000px;
  margin-bottom: 1.5rem;
}

.product-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.product-card:last-child {
  z-index: 1;
}

.product-card:not(:last-child) {
  z-index: 2;
}

.product-card.swipe-left {
  transform: translateX(-150%) rotate(-15deg);

}

.product-card.swipe-right {
  transform: translateY(-150%) rotate(15deg);
  /* transform: rotateZ(150%); */
}

.card {
  width: calc(33.33% - 200px);
  background-color: #f0f0f0;
  padding: -10px;
  cursor: pointer;
}
.product-stack-noauth {
  height: 450px;
  margin: auto;
  perspective: 1000px;
}



.header-container ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.header-container li {
  cursor: pointer;
  font-size: 20px;
  color: rgb(226, 12, 12);
  font-weight: bolder;
  margin-right: 20px;
  position: relative;
}

.header-container li:hover {
  color: #007bff;
  text-decoration: underline;
}

.basket-link {
  display: flex;
  align-items: center;
}

.basket-icon {
  font-size: 24px;
  margin-right: 8px;
}

.item-count {
  background-color: #f9a602;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.logout-link {
  margin-left: auto;
  color: #d9534f;
}

.logout-link:hover {
  color: #c9302c;
}


.header-container ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin: 0;
  padding: 20px;
}

.header-container li {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  font-weight: bolder;
  margin-right: 20px; 
}

@media (max-width: 768px) {
  .header-container li {
    font-size: 16px; 
  }
  
  .profile-container {
    flex-direction: column; 
    align-items: flex-start;
  }
  
  .profile {
    margin: 10px 0; 
  }
}
.profile-photo {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

.profile-container {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin: 0;
}

.animated-image {
  width: 600px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.move {
  animation: moveAnimation 1s infinite alternate;
}

@keyframes moveAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 20px);
  }
}


.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.products-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.basket-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.basket-button:hover {
  background-color: #0056b3;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  margin: 5px 0;
}

.product-price {
  font-size: 16px;
  margin: 5px 0;
}

.product-discount {
  font-size: 14px;
  color: #e74c3c;
  margin: 5px 0;
}

.product-discounted-price {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.product-category {
  font-size: 14px;
  color: #999;
  margin: 5px 0;
}
.card-buttons{
  margin-top:31.5rem;
  display: flex;
  align-items: center;
  gap: 19.8rem
}

.card-buttons {
  display: flex;
  gap: 16rem;
}

.pass-button,
.add-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.pass-button {
  background-color: #e74c3c;
  color: white;
}

.pass-button:hover {
  background-color: #c0392b;
}

.add-button {
  background-color: #3498db;
  color: white;
}

.add-button:hover {
  background-color: #2980b9;
}


.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.basket-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.basket-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  margin: 5px 0;
}

.product-discount,
.product-price,
.product-category {
  font-size: 16px;
  margin: 5px 0;
}

.empty-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.empty-basket h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.empty-basket-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.basket-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.total-saving,
.total {
  font-size: 18px;
  margin: 5px 0;
}

.buy-button,
.remove-button {
  background-color: #109bec;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.remove-button {
  background-color: #ec1f10;
}

.history-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(197, 191, 191); 
  border-radius: 8px; 
  padding: 20px; 
  margin: 10px auto; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  width: 400px; 
}

.buttons-log {
  display: flex;
  gap:10px;
  margin-top: 10px;
  width: 15%; 
  margin-left: auto; 
  margin-right: auto; 
}


.buttons-log button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttons-log button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.buttons-log button[type="button"] {
  background-color: #f0f0f0;
  color: #333;
}

.buttons-log button:hover {
  background-color: #0056b3;
}

.buttons-log button.secondary:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.link-container {
  position: relative;
  display: inline-block;
}

.link {
  text-decoration: none;
  color: #333;
}

.popup {
  height:8.5rem;
  margin-top: -6rem;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup.visible {
  display: block;
  opacity: 1;
  transform: translate(0, -10px);
}
.popup-span{
  text-decoration: underline;
}